<div class="form-container">
<h1 form-h1>Edit</h1>

<%= simple_form_for [ @travel ] do |i| %>
  <%= i.input :time_flight, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year + 3,
                              order: [:day, :month, :year] %>
  <%= i.input :departure %>
  <%= i.input :arrival %>
  <%= i.input :price %>
  <%= i.input :capacity %>
  <%= i.input :description %>
  <%= i.input :photo, as: :file %>
  <% if @travel.photo.attached? %>
  <%= cl_image_tag @travel.photo.key, height: 100, width: 100, crop: :fill %>
  <% end %> 
  <p></p>
  <%= i.submit "Update", class:"btn btn-primary btn-block"  %>
<% end %>

<p>
  <%= link_to "Back", travels_path %>
</p>
</div>
