<h1>Travels</h1>
<%= form_tag travels_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a travel"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<ul>
  <% @travels.each do |travel| %>
    <li><%= link_to "#{travel.departure} - #{travel.arrival} - #{travel.capacity}places - #{travel.status}", travel_path(travel)%>
    <% if current_user == travel.user %>
      <%= link_to "edit", edit_travel_path(travel) %>
      <%= link_to "delete", travel_path(travel),
      method: :delete,
      data: {confirm: "Are you sure?"} %></li>
    <% end %>
  <% end %>
</ul>
<%# <% if policy(Travel).new? %> 
  <%# <%= link_to "create travel", new_travel_path %>
<%# <% end %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
