
<html>
<head>
</head>
<body>
  <p><%= "Departure date: #{@travel.time_flight}" %></p>
  <p><%= "From: #{@travel.departure}" %></p>
  <p><%= "Destination: #{@travel.arrival}" %></p>
  <p><%= "Price: #{@travel.price}€" %></p>
  <p><%= "Capacity: #{@travel.capacity}" %></p>
</body>
</html>
