

<%# <% if @travel.photo.attached? %>
<%# <p><%= cl_image_tag @travel.photo.key, height: 300, width: 400, crop: :fill %>
<%# <% end %>
<div class="parallax-window">
    <h5><%= "#{@travel.departure.split(",").first}" %> - <%= "#{@travel.arrival.split(",").first}" %></h5>

  <div class="parallax-slider d-flex align-items-center justify-content-center">
      <% if @travel.photo.attached? %>
      <%= cl_image_tag @travel.photo.key %>
      <% end %>
  </div>

</div>


<div class="pilot-description">
  <div class="pilot-info">
    <%= image_tag asset_path("charles.jpg"), class: "pilot-pp" %>
    <h2>Charles Choffel</h2>
  </div>
  <p><i class="descrip"></i><%= "#{@travel.description}" %></p>
</div>
<div style="display: flex; justify-content: center;">
  <div class="icons-show">
    <div class="calendar">
      <p><i class="far fa-calendar-alt"></i><%= "#{@travel.time_flight}" %></p>
    </div>
    <div class="dep">
      <p><i class="fas fa-plane-departure"></i><%= "#{@travel.departure}" %></p>
      </div>
    <div class="arrival">
      <p><i class="fas fa-plane-arrival"></i><%= "#{@travel.arrival}" %></p>
    </div>
    <div class="price">
      <p><i class="fas fa-tag"></i><%= "#{@travel.price}€" %></p>
    </div>
    <div class="seats">
      <p><i class="fas fa-user-friends"></i><%= "#{@travel.capacity}" %></p>
    </div>
  </div>
</div>
  <div class=bouton>
  <a>
  <%= link_to 'Book Now!', new_travel_booking_path(@travel), class: "btn btn-flat" %>
  <%= link_to "Back", travels_path, class:"btn btn-flat" %>
  </a>
  </div>

  <div id="map" class="map-index"
  style="width: 100%; height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

