<h1>My travel details</h1>
<p><%= "Departure date: #{@travel.time_flight}" %></p>
<p><%= "From: #{@travel.departure}" %></p>
<p><%= "Destination: #{@travel.arrival}" %></p>
<p><%= "Price: #{@travel.price}€" %></p>
<p><%= "Capacity: #{@travel.capacity}" %></p>

<%= link_to "Book", new_travel_booking_path(@travel) %> 

<div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>