<h1>My travel details</h1>
<p><%= "Departure date: #{@travel.time_flight}" %></p>
<p><%= "From: #{@travel.departure}" %></p>
<p><%= "Destination: #{@travel.arrival}" %></p>
<p><%= "Price: #{@travel.price}€" %></p>
<p><%= "Capacity: #{@travel.capacity}" %></p>
<p><%= "Description: #{@travel.description}" %></p>
<p></p>
<% if @travel.photo.attached? %>
<p><%= cl_image_tag @travel.photo.key, height: 300, width: 400, crop: :fill %></p>
<% end %>


<p><%= "#{@travel.total_bookings} places sur #{@travel.capacity} ont déjà été réservées"%> </p>

<% if @travel.total_bookings < @travel.capacity%>
<%= link_to "Book", new_travel_booking_path(@travel) %> 

<% else %>
<%= link_to "Vol complet, retour à la liste", travels_path%> 
<% end %>


<div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
